<div th:fragment="content" class="dui dui-solution-menu" id="dui-site-left-menu">
    <div class="dui dui-flex">
        <div class="dui dui-site-menu-body" id="dui-site-left-menu-body">
            <div th:replace="fragments/commons/components/menu-search :: content"></div>
            <div class="dui dui-menu-content">
                <ul class="dui dui-site-docs-menu">
                    <li class="dui dui-site-docs-menu-item" id="dui-site-menu-resources-domino-cli">
                        <a class="dui dui-site-menu-link" tabindex="0" dui-side-menu-link="true"
                           dui-site-data="nav-anchor"
                           dui-sub-menu-id="dui-site-menu-resources-domino-cli"
                           href="/resources/domino-cli" aria-expanded="true">
                            <i class="dui mdi mdi-console"></i>
                            <span class="dui">Domino CLI</span>
                        </a>
                    </li>
                    <li class="dui dui-site-docs-menu-item" id="dui-site-menu-resources-markdown">
                        <a class="dui dui-site-menu-link" tabindex="0" dui-side-menu-link="true"
                           dui-site-data="nav-anchor"
                           dui-sub-menu-id="dui-site-menu-resources-markdown"
                           href="/resources/markdown" aria-expanded="true">
                            <i class="dui mdi mdi-language-markdown"></i>
                            <span class="dui">Markdown</span>
                        </a>
                        <ul class="dui dui-site-docs-sub-menu">
                            <li class="dui dui-site-docs-sub-menu-item" id="dui-site-menu-resources-markdown-user-docs">
                                <a class="dui dui-site-menu-link" tabindex="0"
                                   dui-sub-menu-id="dui-site-menu-resources-markdown-user-docs"
                                   aria-expanded="true">
                                    <span class="dui dui-site-menu-item-text">User Docs</span>
                                </a>
                                <ul class="dui dui-site-docs-sub-menu">
                                    <li class="dui dui-site-docs-sub-menu-item">
                                        <a class="dui dui-site-menu-link" tabindex="0" dui-side-menu-link="true"
                                           dui-site-data="nav-anchor"
                                           dui-sub-menu-id="dui-site-menu-resources-markdown-user-docs"
                                           href="/resources/markdown/getting-started" aria-expanded="true">
                                            <span class="dui dui-site-menu-item-text">Getting Started</span>
                                        </a>
                                    </li>
                                    <li class="dui dui-site-docs-sub-menu-item">
                                        <a class="dui dui-site-menu-link" tabindex="0" dui-side-menu-link="true"
                                           dui-site-data="nav-anchor"
                                           dui-sub-menu-id="dui-site-menu-resources-markdown-user-docs"
                                           href="/resources/markdown/parsing-and-asts" aria-expanded="true">
                                            <span class="dui dui-site-menu-item-text">Parsing and ASTs</span>
                                        </a>
                                    </li>
                                    <li class="dui dui-site-docs-sub-menu-item">
                                        <a class="dui dui-site-menu-link" tabindex="0" dui-side-menu-link="true"
                                           dui-site-data="nav-anchor"
                                           dui-sub-menu-id="dui-site-menu-resources-markdown-user-docs"
                                           href="/resources/markdown/rendering-output" aria-expanded="true">
                                            <span class="dui dui-site-menu-item-text">Rendering Output</span>
                                        </a>
                                    </li>
                                    <li class="dui dui-site-docs-sub-menu-item">
                                        <a class="dui dui-site-menu-link" tabindex="0" dui-side-menu-link="true"
                                           dui-site-data="nav-anchor"
                                           dui-sub-menu-id="dui-site-menu-resources-markdown-user-docs"
                                           href="/resources/markdown/extensions" aria-expanded="true">
                                            <span class="dui dui-site-menu-item-text">Extensions</span>
                                        </a>
                                    </li>
                                    <li class="dui dui-site-docs-sub-menu-item">
                                        <a class="dui dui-site-menu-link" tabindex="0" dui-side-menu-link="true"
                                           dui-site-data="nav-anchor"
                                           dui-sub-menu-id="dui-site-menu-resources-markdown-user-docs"
                                           href="/resources/markdown/configuration" aria-expanded="true">
                                            <span class="dui dui-site-menu-item-text">Configuration</span>
                                        </a>
                                    </li>
                                    <li class="dui dui-site-docs-sub-menu-item">
                                        <a class="dui dui-site-menu-link" tabindex="0" dui-side-menu-link="true"
                                           dui-site-data="nav-anchor"
                                           dui-sub-menu-id="dui-site-menu-resources-markdown-user-docs"
                                           href="/resources/markdown/examples" aria-expanded="true">
                                            <span class="dui dui-site-menu-item-text">Examples</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dui dui-site-docs-sub-menu-item" id="dui-site-menu-resources-markdown-advanced-user-docs">
                                <a class="dui dui-site-menu-link" tabindex="0"
                                   dui-sub-menu-id="dui-site-menu-resources-markdown-advanced-user-docs"
                                   aria-expanded="true">
                                    <span class="dui dui-site-menu-item-text">Advanced User Docs</span>
                                </a>
                                <ul class="dui dui-site-docs-sub-menu">
                                    <li class="dui dui-site-docs-sub-menu-item">
                                        <a class="dui dui-site-menu-link" tabindex="0" dui-side-menu-link="true"
                                           dui-site-data="nav-anchor"
                                           dui-sub-menu-id="dui-site-menu-resources-markdown-advanced-user-docs"
                                           href="/resources/markdown/advanced-user-docs/api-reference" aria-expanded="true">
                                            <span class="dui dui-site-menu-item-text">API Reference</span>
                                        </a>
                                    </li>
                                    <li class="dui dui-site-docs-sub-menu-item">
                                        <a class="dui dui-site-menu-link" tabindex="0" dui-side-menu-link="true"
                                           dui-site-data="nav-anchor"
                                           dui-sub-menu-id="dui-site-menu-resources-markdown-advanced-user-docs"
                                           href="/resources/markdown/advanced-user-docs/cookbook" aria-expanded="true">
                                            <span class="dui dui-site-menu-item-text">Cookbook</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dui dui-site-docs-menu-item" id="dui-site-menu-resources-domino-slf4j-logger">
                        <a class="dui dui-site-menu-link" tabindex="0" dui-side-menu-link="true"
                           dui-site-data="nav-anchor"
                           dui-sub-menu-id="dui-site-menu-resources-domino-slf4j-logger"
                           href="/resources/domino-slf4j-logger" aria-expanded="true">
                            <i class="dui mdi mdi-file-document-outline"></i>
                            <span class="dui">Domino SLF4J Logger</span>
                        </a>
                    </li>
                    <li class="dui dui-site-docs-menu-item" id="dui-site-menu-resources-widget-element-integration">
                        <a class="dui dui-site-menu-link" tabindex="0" dui-side-menu-link="true"
                           dui-site-data="nav-anchor"
                           dui-sub-menu-id="dui-site-menu-resources-widget-element-integration"
                           href="/resources/widget-element-integration" aria-expanded="true">
                            <i class="dui mdi mdi-widgets"></i>
                            <span class="dui">WidgetElement Integration</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
